on boot
    chown system system /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chmod 0660 /sys/class/touch/touch_dev/fod_longpress_gesture_enabled

    chown system system /sys/class/touch/touch_dev/gesture_single_tap_enabled
    chmod 0660 /sys/class/touch/touch_dev/gesture_single_tap_enabled